* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 99%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1em 3em;
}

nav ul {
    display: flex;
}

nav #fl {
    list-style: none;
    font-weight: 700;
    color: white;
}

nav #sl {
    list-style: none;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

nav #sl a {
    text-decoration: none;
    color: white;
    padding: 0em 0.5em;
}

#first {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

#first img {
    width: 10%;
    height: 10%;
}

#first ul {
    display: flex;
    list-style: none;
    margin-top: 1.5em;
}

#first ul a {
    text-decoration: none;
    padding: 0em 0.3em;
    color: black;
    font-size: small;
}

#first ul a:hover {
    color: red;
}


#shop {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/Hareem-Sofa-860x538.webp);
    background-position: center;
    background-size: cover;
}

#shop div {
    width: 70%;
    height: 30vh;
    text-align: center;
}

#shop div h1 {
    font-size: 5em;
    font-weight: 700;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

#shop div a {
    text-decoration: none;
    padding: 0.5em 1em;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#shop div a:hover {
    text-decoration: underline;
}

#shop div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#shop div ul li {
    padding: 0.8em 0em;
}


#shopping {
    width: 100%;
    display: flex;
    justify-content: center;
}

#shopping .bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
}

#shopping .bar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;

}

#shopping .bar ul li a {
    text-decoration: none;
    color: black;
}

#shopping .bar ul li a:active {
    color: red;
}

#shopping .bar ul:nth-child(2) {
    width: 20%;
    cursor: pointer;
}

#firstline {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#firstline .first {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#firstline .first a {
    text-decoration: none;
    color: black;
}

#firstline .first a:hover {
    opacity: 0.7;
}

#secondline {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

#secondline .second {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#secondline .second a {
    text-decoration: none;
    color: black;
}

#secondline .second a:hover {
    opacity: 0.7;
}

#thirdline {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

#thirdline .third {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#thirdline .third a {
    text-decoration: none;
    color: black;
}

#thirdline .third a:hover {
    opacity: 0.7;
}

img {
    border-radius: 10px;
}

#anchor {
    width: 100%;
    margin-top: 4em;
    text-align: center;
}

#anchor a {
    padding: 1em 2em;
    border: 1px solid white;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: whitesmoke;
}

#anchor a:hover {
    border: 2px solid black;
}


#newsletter {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4em;
}

#newsletter h4 {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#newsletter #email {
    padding: 0.5em 1em;
    width: 40%;
    margin-bottom: 0.5em;
}

#newsletter #btn {
    padding: 0.5em 1em;
    border: 1px solid white;
    margin-left: 1em;
}

footer {
    background-color: whitesmoke;
    margin-top: 4em;
    padding-top: 2em;
}

footer #locations {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

footer #locations ul li {
    list-style: none;
}

#locations #locate {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#locations #locate div {
    width: 50%;
}

#locations #locate .customer {
    width: 50%;
    text-align: center;
    margin-right: 3em;
    margin-top: 5em;
}

#locations #locate .customer ul {
    display: flex;
}

#locations #locate .customer ul li:nth-child(4) {
    margin-left: -3em;
}

#locations #locate .abuja {
    width: 70%;
}

#locations #locate .lagos {
    width: 60%;
}

#locations #locate .porthacourt {
    width: 150%;
    margin-left: -5em;
}

#locations #locate li {
    margin-bottom: 1em;
}

footer #canada {
    width: 12%;
    margin-left: 12em;
    margin-bottom: 2em;
}

footer #canada ul {
    list-style: none;
}

footer #copyright {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer #copyright div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 1em 0em;
}

footer #copyright div ul {
    list-style: none;
}